<%= form_with(model: issue, local: true) do |form| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <div  class = "formLabel"> 
    <%= form.label :title %>
    </div>
    <div class = "formInput"> 
    <%= form.text_field :title, id: :issue_title %>
    </div>
  </div>

  <div class="input-group">
    <div class = "formLabel"> 
    <%= form.label :description %>
    </div>
    <div class = "formInput"> 
    <%= form.text_field :description, id: :issue_description %>
    </div>
  </div>
  
  <div class="input-group">
    <div class = "formLabel"> 
    <%= form.label :assignee_id %>
    </div>
    <div class = "formInput"> 
    <%= form.collection_select :assignee_id, User.all, :id, :name, {:include_blank => 'No assigned user yet'}  %>
    </div>
  </div>

  <div class="input-group">
    <div class = "formLabel"> 
    <%= form.label :tipus %>
    </div>
    <div class = "formInput"> 
    <%= form.select :tipus, options_for_select(Issue.tipus, issue[:tipus]) %>
    </div>
  </div>

  <div class="input-group">
    <div class = "formLabel"> 
    <%= form.label :priority %>
    </div>
    <div class = "formInput"> 
    <%= form.select :priority, options_for_select(Issue.priority, issue[:priority])%>
    </div>
  </div>

  <div class="input-group">
    <div class = "formLabel"> 
    <%= form.label :status %>
    </div>
    <div class = "formInput"> 
    <%= form.select :status, options_for_select(Issue.status) %>
    </div>
  </div>

  <br />

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
