<div style="margin-top:60px;"> 

<titNew> <h1>Edit Issue</h1> </titNew>
</div>

<div style ="margin-left:40%; margin-top:70px"> 
<%= render 'form', issue: @issue %>
</div>
<%= link_to 'Show', @issue %> |
<%= link_to 'Back', issues_path %>
