<p id="notice"><%= notice %></p>

<tit> 
<div class="header">
  <div class="section-title">
    
  </div>
</div>
</tit>


<div style= "margin-top:70px; margin-left:70px; font-size:16px"> 
  <div>
    <strong style="font-size:20px;margin-top:40px" >Issues</strong>
    <p style="margin-top:40px"> 
      Filter by:
          <a href="/issues">All</a>
      
          <a><%= link_to "Open", issues_url(status: "New&Open")%></a>
          <a><%= link_to "My issues", issues_url(assignee: current_user.id)%></a>
          <a><%= link_to "Watching", issues_url(watcher: current_user.id)%></a>
          </p>
    
</div>

<div style= " margin-top:40px" > 
<p> <strong >Issues (<%= @issues.size %>)  </strong>
<% if current_user %>
    <span style="margin-left:1200px"> 
      <%= link_to new_issue_path, class: 'create-button' do %>
        <span class="glyphicon glyphicon-plus"></span>
        <span class="createi-button">Create issue</span>
      <% end %>
      </span>
    
    <% end %></p>
</div>
</div>



<div class="page-actions">
   
</div>

<div style= "margin-top:70px; margin-left:70px; font-size:16px">
    <% if request.query_parameters[:tipus] %>
      <strong>Type:</status> "<%= request.query_parameters[:tipus] %>"
    <% end %>
    <% if request.query_parameters[:priority] %>
        <strong>Priority:</strong> "<%= request.query_parameters[:priority] %>"
    <% end %>
    <% if request.query_parameters[:status] %>
        <strong>Status:</strong> "<%= request.query_parameters[:status] %>"
    <% end %>
    <% if request.query_parameters[:assignee] %>
        <strong>Assignee:</strong> "<%= User.find(request.query_parameters[:assignee]).name %>"
    <% end %>
</div>

<b> 
<table class="issue-list">
  <thead>
    <tr>
      <a> 
      <t1> 
      <th scope="col"><%= sortable "title" %></th>
      <th scope="col"><%= sortable "tipus", "Type" %></th>
      <th scope="col"><%= sortable "priority" %></th>
      <th scope="col"><%= sortable "status" %></th>
      <th scope="col"><%= sortable "votes" %></th>
      <th scope="col"><%= sortable "assignee_id", "Assignee" %></th>
      <th scope="col"><%= sortable "created_at", "Created" %></th>
      <th scope="col"><%= sortable "updated_at", "Updated" %> </th>
      <th scope="col"></th>
      <th colspan="3"></th>
      </t1>
      </a>
    </tr>
  </thead>
  </b>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= link_to issue.title , issue %></td>
        <td><%= link_to issue.tipus , issues_url(tipus: issue.tipus)%></td>
        <td><%= link_to issue.priority , issues_url(priority: issue.priority) %></td>
        <td><%= link_to issue.status , issues_url(status: issue.status) %></td>
        <td><%= link_to issue.votes.size, issues_url(votes: issue.votes.size) %></td>
        <% if !issue.assignee.nil? %>
            <td><%= link_to issue.assignee.name, issues_url(assignee: issue.assignee.id)%></td>
            <% else %>
            <td></td>
        <% end %>
        <td><%= time_ago_in_words(issue.created_at) + " ago" %></td>
        <td><%=  time_ago_in_words(issue.updated_at) + " ago"  %></td>
      
        <td><% if !Watcher.exists?(:issue_id => issue.id, :user_id => current_user.id) %>
              <%= link_to 'Watch', watch_url(id: issue.id, view: "index"), method: :post %>
            <%else %>
              <%= link_to 'Stop watching', watch_url(id: issue.id, view: "index"), method: :post %>
          <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

