
<div style="margin-top:60px;"> 
<titNew> <h1>Issue</h1>
<h2>Create issue</h2></titNew>
</div>


<div style ="margin-left:40%; margin-top:70px"> 
<%= render 'form', issue: @issue %>
</div>
<div> 
<%= link_to 'Back', issues_path %>
</div>

