<p id="notice"><%= notice %></p>


<issShow>
  
  <div style= "margin-top: 65px">
    <div align="center" class="float-left">
      <div class="issue-header">
      
        
        <div> <issTitle> <%= @issue.title %></issTitle></div>
        
        <issName> 
        <span style="font-size:13px" class="issue-id">
          Issue #<%= @issue.id %>
        </span>
        <span style="font-style:italic" class="issue-status">
          <%= @issue.status %>
        </span>
        </issName>
      </div>

<div style= "border-radius: 5px;padding:8px">

      <div >
        <issName> 
         <img src="/assets/96.png" style="margin:auto;margin-right:6px;width:40px; height:40px; display: inline-block; border-radius:90px">
        <div style = " display: inline-block;"><span style = "color:blue; margin-left:4px">  <%=@issue.user.name %> </span>   created an issue  <time class="created_at"><%= @issue.created_at.strftime('%Y-%m-%d')%></time> </div>
          </issName>
          
      </div>

      <div >
        <issName> 
        <% if @issue.description %>
         <p style = "margin-left:15px; font-style:italic"><%= @issue.description %></p>
        <% else %>
          <p>No description provided.</p>
        <% end %>
        </issName>
      </div>
      </div>
      <hr>
       <div style="text-align: left;" class="issue-comments-container">
        
        <p style= "font-weight:bold">Comments (<%= @issue.comments.size %>)</p>
        
        <% @issue.comments.each do |comment| %>
          <div style= "background-color:white ;border-radius: 20px;padding:8px" >
   
             
   
            <div>
             <img src="/assets/96.png" style="margin:auto;margin-right:6px;width:40px; height:40px; display: inline-block; border-radius:90px">
             <div style ="display: inline-block;font-weight:bold;color:blue;">  <%= comment.user.name %> </div>
              
            </div>
        
            <div style = "margin-left:100px; margin-top:20px; font-style:italic">
            
            <div> <%= comment.body%></div> 
            </div>
            
          <p style= "font-size:11px">  <%= time_ago_in_words(comment.created_at) + " ago" %>
              <% if comment.user.id == current_user.id %>
          |   <%= link_to 'Delete', [comment.issue, comment],
                       method: :delete , class: "esborrar" %>
              <%= link_to 'Edit', [comment.issue, comment],
                       method: :put , class: "editar" %>
              <% end %>
          </p> 
          </div>
          </br>
        <% end %>
        
        <%= form_with(model: [@issue, @issue.comments.build], local: true) do |form| %>
          <div style = "text-align: center;">
            <%= form.text_area :body, placeholder:'What do you want to say?' %>
          </div>
          <div style = "text-align: center;" class="actions">
            <%= form.submit %>
          </div>
        <% end %>
        <%= form_with(model: [@issue, @issue.comments.build], local: true) do |form| %>
          <div style = "text-align: center;">
            <%= form.text_area :body, placeholder:'Select a File?' %>
          </div>
          <div style = "text-align: center;" class="actions">
            <%= form.submit %>
          </div>
        <% end %>
      </div>
</div>
      
    </div>
    


<div style="background-color: white ;margin-left: 250px;border-style: solid;border-color: lightgrey;border-radius: 5px;border-width: 1px;" align="center" class="float-left">
  
  <tools>
  <p>
    
   <strong> Assignee: </strong>
   <% if !@issue.assignee.nil? %>
              <a href="/issues?assignee=<%= @issue.assignee.id%>">
                <span title="assignee"><%= @issue.assignee.name%></span>
              </a>
              <% else %>
              No one assigned
    <% end %>
    
  </p>
  
  <p>
    
    <strong>Type: </strong>
     <%= link_to @issue.tipus, issues_url(tipus: @issue.tipus) %>
     
  </p>
  
  <p>
    <strong>Priority: </strong>
     <%= link_to @issue.priority, issues_url(priority: @issue.priority) %>
  </p>
  
  <p>
    <strong>Status: </strong>
     <%= link_to @issue.status, issues_url(status: @issue.status) %>
  </p>
  
  <p>
    <strong>Votes: </strong>
  
      <%= @issue.votes.size%>
        <% if !Vote.exists?(:issue_id => @issue.id, :user_id => current_user.id) %>
          <%= link_to 'Vote for this issue', vote_url(id: @issue.id), method: :post%>
        <% else %>
          <%= link_to 'Remove vote', vote_url(id: @issue.id), method: :post%>
        <% end %>
      </span>
  </p>
  
  <p>
    <strong>Watchers: </strong>
      <%= @issue.watchers.size %>
        <% if !Watcher.exists?(:issue_id => @issue.id, :user_id => current_user.id) %>
          <%= link_to 'Watch this issue', watch_url(id: @issue.id), method: :post%>
        <% else %>
          <%= link_to 'Stop Watching', watch_url(id: @issue.id), method: :post%>
        <% end %>
      </span>
  </p>
  
  <p>
  


 
<div class="issue-toolbar">
  <% if current_user %>
        <span>
              <% if @issue.status == "Open" || @issue.status == "New" %>
               <div class="buttDiv"> <button class="butt"> <%= link_to 'Resolve', update_status_url(id: @issue.id, status: "Resolved"), method: :put %> </button> </div> 
              <% else %>
               <div class="buttDiv"> <button class="butt">  <%= link_to 'Open', update_status_url(id: @issue.id, status: "Open"), method: :put, class:'open'%> </button> </div>
              <% end %>
            </span>
              <div class="dropdown">
                <button class="dropbtn">Workflow</button>
                <div class="dropdown-content">
                  <% Issue.status.each do |status| %>
                  <% if status != @issue.status %>
                    <%= content_tag(:span, link_to(status, update_status_url(id: @issue.id, status: status), method: :put)) %>
                  <% end %>
                <% end %>
                </div>
              </div>
              
           </tools>
   
             <div style = "margin-top: 25px; padding:6px; margin-left: 10px"> 
                <a href="/issues/<%= @issue.id %>/edit" class="aui-button">Edit</a>
                <%= link_to 'Delete', @issue,  method: :delete, class: 'aui-button', data: { confirm: 'Are you sure you want to delete this issue?' } %>
                <%= link_to 'Back', issues_path %>
                <% if current_user %>
      <%= link_to new_issue_path, class: 'create-button' do %>
        <span>Create issue</span>
      <% end %>
      
    <% end %>
            </div>

  <% end %>
</div>
</div>


</issShow>


</div>
