/* line 1, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/home.scss */
tit {
  color: #333;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-family: verdana, arial, helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
  line-height: 18px;
  flex: 1;
}

/* line 14, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/home.scss */
body {
  background-color: lightblue;
}

/* line 18, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/home.scss */
b {
  color: #333;
  display: block;
  margin: auto;
  font-family: verdana, arial, helvetica, sans-serif;
  text-align: center;
  font-size: 30px;
  line-height: 18px;
  flex: 1;
}

/* line 30, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/home.scss */
img {
  display: block;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 20%;
}
/* line 5, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/issues.scss */
tit {
  color: #333;
  display: block;
  margin: auto;
  font-family: verdana, arial, helvetica, sans-serif;
  text-align: center;
  font-size: 15px;
  line-height: 18px;
}

/* line 16, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/issues.scss */
b {
  color: #333;
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-left: 10px;
  font-family: verdana;
  text-align: center;
  font-size: 15px;
  line-height: 18px;
}

/* line 29, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/issues.scss */
c {
  color: #333;
  display: block;
  margin: auto;
  margin-top: 55px;
  margin-left: 25px;
  font-family: verdana;
  text-align: center;
  font-size: 15px;
  line-height: 18px;
}

/* line 42, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/issues.scss */
table {
  border-collapse: collapse;
  text-align: center;
  margin-left: 5%;
  margin-right: 10%;
  margin-top: 95px;
  width: 90%;
}

/* line 57, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/issues.scss */
th {
  background-color: #8acbce;
  font-weight: bold;
  color: black;
}

/* line 67, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/issues.scss */
td {
  background-color: #e5fdff;
  font-weight: normal;
  color: black;
  height: 22px;
}
/* line 1, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 10, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 16, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 25, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 29, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 39, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 44, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 49, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 53, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 59, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 66, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}
/* line 76, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 82, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

 
  body{
  background-color: #c9dfea
}
