/* line 1, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/home.scss */
tit {
  color: #333;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: verdana, arial, helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
  line-height: 18px;
}

/* line 13, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/home.scss */
b {
  color: #333;
  display: block;
  margin: auto;
  font-family: verdana, arial, helvetica, sans-serif;
  text-align: center;
  font-size: 30px;
  line-height: 18px;
  flex: 1;
}

/* line 25, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/home.scss */
img {
  display: block;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 20%;
}

/* line 35, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/home.scss */
.issue-list th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

/* line 41, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/home.scss */
.issue-list th .asc {
  background-image: url(/images/sort-up.png);
}

/* line 45, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/home.scss */
.issue-list th .desc {
  background-image: url(/images/sort-down.png);
}
/* line 5, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/issues.scss */
tit {
  color: #333;
  display: block;
  margin: auto;
  font-family: verdana, arial, helvetica, sans-serif;
  text-align: center;
  font-size: 15px;
  line-height: 18px;
}

/* line 16, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/issues.scss */
b {
  color: #333;
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-left: 10px;
  font-family: verdana;
  text-align: center;
  font-size: 15px;
  line-height: 18px;
}

/* line 29, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/issues.scss */
issShow {
  color: #333;
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-left: 250px;
  font-family: verdana;
  text-align: left;
  font-size: 15px;
  line-height: 18px;
}

/* line 43, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/issues.scss */
issTitle {
  color: #333;
  display: block;
  margin: auto;
  margin-bottom: 30px;
  font-family: verdana;
  text-align: left;
  font-size: 24px;
  line-height: 18px;
  font-weight: bold;
}

/* line 59, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/issues.scss */
tools {
  text-align: left;
  display: block;
  margin: auto;
  margin-left: 30px;
  padding: 20px;
}

/* line 68, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/issues.scss */
.dropbtn {
  background-color: #43aef5;
  color: black;
  padding: 8px;
  font-size: 16px;
  border: none;
}

/* line 79, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/issues.scss */
.dropdown {
  position: relative;
  display: inline-block;
}

/* line 84, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/issues.scss */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #43aef5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* line 93, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/issues.scss */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* line 100, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/issues.scss */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* line 102, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/issues.scss */
.dropdown:hover .dropdown-content {
  display: block;
}

/* line 104, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/issues.scss */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* line 107, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/issues.scss */
.buttDiv {
  position: relative;
  display: inline-block;
}

/* line 112, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/issues.scss */
.butt {
  background-color: #43aef5;
  color: black;
  padding: 8px;
  font-size: 16px;
  border: none;
}

/* line 121, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/issues.scss */
.butt:hover .butthover {
  background-color: #3e8e41;
}

/* line 125, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/issues.scss */
issName {
  color: #333;
  display: block;
  margin: auto;
  margin-bottom: 30px;
  font-family: verdana;
  text-align: left;
  font-size: 14px;
  line-height: 18px;
}

/* line 139, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/issues.scss */
.float-left {
  float: left;
  width: 30%;
}

/* line 145, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/issues.scss */
c {
  color: #333;
  display: block;
  margin: auto;
  margin-top: 55px;
  margin-left: 25px;
  font-family: verdana;
  text-align: center;
  font-size: 15px;
  line-height: 18px;
}

/* line 158, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/issues.scss */
table {
  border-collapse: collapse;
  text-align: center;
  margin-left: 5%;
  margin-right: 10%;
  margin-top: 40px;
  width: 90%;
}

/* line 172, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/issues.scss */
a:link {
  color: black;
}

/* line 196, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/issues.scss */
th {
  background-color: #8acbce;
  font-weight: bold;
  color: black;
}

/* line 206, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/issues.scss */
td {
  background-color: #e5fdff;
  font-weight: normal;
  color: black;
  height: 22px;
}

/* line 214, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/issues.scss */
.issue-list th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

/* line 220, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/issues.scss */
.issue-list th .asc {
  background-image: url(/images/sort-up.png);
}

/* line 224, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/issues.scss */
.issue-list th .desc {
  background-image: url(/images/sort-down.png);
}
/* line 1, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 10, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 16, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 25, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 29, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 39, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 44, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 49, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 53, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 59, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 66, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}
/* line 76, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 82, /home/ec2-user/environment/issue-tracker/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

 
body{
  /*background-color: #c9dfea */
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, #60A8C6 , #c9dfea);

}

.issue-list th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.issue-list th .asc { 
  background-image: url("~/app/assets/images/sort-up.png"); 
  background-color: #000000
}

.issue-list th .desc {
  background-image: url("~/assets/images/sort-down.png") ; 
  background-color: #000000
}

a{
  
  color:black;
  
}

a:visited{
  color:black;
}

a:hover{
  background-color: white;
  color:black;
}
