

<h1 style= "display:block;color:white;margin:auto;text-align:center;font-size:40px"> 
FIB
</h1>

 <body = style ="background-color:#0747A6;"> 

<div style ="margin-top:7%"> 
<tit>
 <div style="font-size:20px;margin-bottom:40px;"> Log in to continue to the Issue Tracker! </div>
 </tit>

<div class= buttDiv style= "box-shadow: 1px 1px 5px black;text-align:center;margin:auto;display:block;border-radius:5px; width:400px; height:100px; padding:20px">
  <a href="/auth/google_oauth2", id: "sign_in">
<button style= "background-color:white;border:solid;border-width:1px;border-color:white;border-radius:5px;width:300px;box-shadow: 1px 1px 5px grey;color:#56707C;margin-top:25px"class = butt>
 
 
<img src="/assets/google.jpg" style="width:20px; margin:auto;margin-right:20px; height:20px;display: inline-block;">



 <div style ="display: inline-block;"> 
 <strong> Log in with Google </strong> 
 </div>
</button>
</a> 
</div>
</div>
 
</body>

 

