/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
body{
  background-color: white
  

}

/*
.issue-list th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.issue-list th .asc { 
  background-image: url("~/app/assets/images/sort-up.png"); 
  background-color: #000000
}

.issue-list th .desc {
  background-image: url("~/assets/images/sort-down.png") ; 
  background-color: #000000
}

*/

a{
  
  color:black;
  text-decoration: none;

  
}

a:visited{
  color:black;
}

a:hover{
  background-color: #C6F2FC;
  color:black;
}

.issue-list th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: #C6F2FC;
}

.issue-list th .asc { 
  content: "&#9650"; 
}

.issue-list th .desc { 
  content: "&#9660"; 
}