tit {
  color: #333;
  display: block; 
  margin-left: auto;
  margin-right: auto;
  font-family: verdana;
  text-align: center;
  font-size: 60px;
  line-height: 18px;
}


b{
  
  color: #333;
  display: block; 
  margin: auto; 
  font-family: verdana;
  text-align: center;
  font-size: 30px;
  line-height: 18px;
  flex : 1;
}

img{
    display: block;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 20%;

}


.float-left {
  float:left;
  width:50%;
}

.issue-list th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.buttDiv {
  background-color: white;
  position: relative;
  display: inline-block;
}

.butt {
  background-color: white;
  color: black;
  padding: 8px;
  font-size: 16px;
  border: solid;
}


.butt:hover .butthover {background-color: white;}

.issue-list th .asc { 
  background-image: url(/images/sort-up.png); 
}

.issue-list th .desc { 
  background-image: url(/images/sort-down.png); 
}