// Place all the styles related to the Issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tit{
  
  color:white;
  display: block; 
  margin: auto; 
  
  text-align: center;
  font-size: 15px;
  line-height: 18px;
}

.input-group{
  margin-top:40px;
}


.formInput{
  
  display: inline-block;
}



.formLabel{
  display: inline-block;
  text-align: right;
}


titNew{
  
  color:black;
  display: block; 
  margin: auto; 
  font-size: 15px;
  line-height: 18px;
  margin-left:40%;
}

b{
  
  color: #333;
  display: block; 
  margin: auto; 
  margin-top: 30px;
  margin-left: 10px;
  
  text-align: center;
  font-size: 15px;
  line-height: 18px;
}

issShow{
  
  color: #333;
  display: block; 
  margin: auto; 
  margin-top: 30px;
  margin-left: 250px;
  
  text-align: left;
  font-size: 15px;
  line-height: 18px;
  
}


formIssue{
  
  text-align:left;
  margin-left:40%
  
}

issTitle{
  
   color: #333;
  display: block; 
  margin: auto; 
  margin-bottom: 30px;
  
  text-align: left;
  font-size: 24px;
  line-height: 18px;
  font-weight: bold;

  
  
}

tools{
    text-align:left;
    display: block; 
    margin:auto;
    margin-left: 30px;
    padding: 20px;
  
}

.dropbtn {
  background-color:  #43aef5;
  color: black;
  padding: 8px;
  font-size: 16px;
  border: none;
}




.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #43aef5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}


.buttDiv {
  position: relative;
  display: inline-block;
}

.butt {
  background-color:  #43aef5;
  color: black;
  padding: 8px;
  font-size: 16px;
  border: none;
}


.butt:hover .butthover {background-color: #3e8e41;}



issName{
  
   color: #333;
  display: block; 
  margin: auto; 
  margin-bottom: 30px;
  font-family: verdana;
  text-align: left;
  font-size: 14px;
  line-height: 18px;
    


  
}

.float-left {
  float:left;
  width:30%;
}


c{
  
  color: #333;
  display: block; 
  margin: auto; 
  margin-top: 55px;
  margin-left: 25px;
  font-family: verdana;
  text-align: center;
  font-size: 15px;
  line-height: 18px;
    

}

table{
  border-collapse: collapse;
  text-align:left; 
    

  margin-left: 5%; 
  margin-right: 10%;
  margin-top: 15px;
  width: 90%;
  //border: 1px solid grey;

  
}



a:link{
  
  color:black;
    

  
}

bl:link{
 
}



a:visited{
  

}

bl:visited{

}




th{
        font-weight: normal;
      border-bottom: 1px solid #ddd;

  color: grey;
  
}

th:hover{
  background-color:#C6F2FC;
}

td{
  //border: 1px solid grey;
  font-weight: normal;
  color: black;
  height: 22px;

}

.asc:after {
  background-color: #C6F2FC;
  content: &#9650;
}

.desc:after {
  background-color: #C6F2FC;
  content: &#9660;
}

/*
.issue-list th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.issue-list th .asc { 
  background-image: url(/images/sort-up.png); 
}

.issue-list th .desc { 
  background-image: url(/images/sort-down.png); 
}
*/

