<!DOCTYPE html>
<html>
  <head>
    <title>Issue tracker</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div>
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>, token: <%= current_user.oauth_token %>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
       <!-- <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %> --!>
      <% end %>
    </div>
    <div>
    <%= yield %>
    </div>
  </body>
</html>